<%- include('../layouts/adminLayout/_header.ejs') -%>
<style>
    .image-container {
        display: inline-block;
        margin: 5px;
    }

    .delete-button {
        display: block;
        margin-top: 5px;
    }
</style>
    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
                        <p style="color:red">
                            <%= messages.head ? messages.head : '' %>
                        </p>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="title"
                                        minlength="4" maxlength="30" id="title" required>
                                    <p style="color:red">
                                        <%= messages.title ? messages.title : '' %>
                                    </p>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"
                                        id="description" required></textarea>
                                    <p style="color:red">
                                        <%= messages.description ? messages.description : '' %>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Brand name</label>
                                    <select class="form-select" name="brand" required>
                                        <option value="gucci">Gucci</option>
                                        <option value="chanel">Chanel</option>
                                        <option value="nike">Nike</option>
                                        <option value="zara">Zara</option>
                                        <option value="adidas">Adidas</option>
                                        <option value="louis-vuitton">Louis Vuitton</option>
                                        <option value="prada">Prada</option>
                                        <option value="balenciaga">Balenciaga</option>
                                        <option value="givenchy">Givenchy</option>
                                        <option value="versace">Versace</option>
                                        <option value="ralph-lauren">Ralph Lauren</option>
                                        <option value="tommy-hilfiger">Tommy Hilfiger</option>
                                        <option value="calvin-klein">Calvin Klein</option>
                                        <option value="hm">H&M</option>
                                        <option value="forever-21">Forever 21</option>
                                    </select>
                                    <p style="color:red">
                                        <%= messages.brand ? messages.brand : '' %>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Size</label>
                                    <select class="form-select" name="size">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select>
                                    <p style="color:red">
                                        <%= messages.size ? messages.size : '' %>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Gender</label>
                                    <select class="form-select" name="sex">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="unisex">Unisex</option>
                                    </select>
                                    <p style="color:red">
                                        <%= messages.size ? messages.size : '' %>
                                    </p>
                                </div>

                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Cost in INR</label>
                                            <input type="text" placeholder="₹" class="form-control" name="price"
                                                pattern="\d+(\.\d{1,2})?" required>
                                            <p style="color:red">
                                                <%= messages.price ? messages.price : '' %>
                                            </p>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Category</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <div class="mb-4">
                                                <label class="form-label">Categories</label>
                                                <select class="form-select" name="category">

                                                    <% if(category.length> 0){ %>
                                                        <% for(let i=0; i < category.length; i++){ %>
                                                            <option value="<%= category[i].slug %>">
                                                                <%= category[i].title %>
                                                            </option>
                                                            <% } %>
                                                                <% }else{ %>
                                                                    <option> Not found </option>
                                                                    <% } %>
                                                </select>
                                                <p style="color:red">
                                                    <%= messages.category ? messages.category : '' %>
                                                </p>
                                            </div>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->

                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Quantity</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <input type="text" placeholder="Enter Quantity" class="form-control"
                                                name="quantity" pattern="\d+(\.\d{1,2})?" required>
                                            <p style="color:red">
                                                <%= messages.quantity ? messages.quantity : '' %>
                                            </p>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->


                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>5. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Images</label>
                                            <!-- <input class="form-control" type="file" name="images" id="fileUpload"
                                                multiple> -->
                                            <input type="file" multiple id="gallery-photo-add" name="images">

                                            <p style="color:red">
                                                <%= messages.image ? messages.image : '' %>
                                            </p>
                                        </div>
                                    </div> <!-- col.// -->
                                    </form>
                                </div> <!-- .row end// -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" style="display: flex; text-align: end;">
                <div class="card card-product-grid ">
                    <div class="info-wrap " style="display: flex; text-align: end;">
                        <div class="gallery "></div>
                        <!-- Button to delete selected images -->
                        
                    </div>
                </div>
                <!-- card-product  end// -->
            </div>
    </section> <!-- content-main end// -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(function () {
            // Multiple images preview in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {

                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            var imgContainer = $($.parseHTML('<div class="image-container">'));

                            // Image tag
                            var imgElement = $($.parseHTML('<img>')).attr('src', event.target.result);

                            // Select checkbox
                            var selectCheckbox = $($.parseHTML('<input type="checkbox" class="select-checkbox">'));

                            // Delete button
                            var deleteButton = $($.parseHTML('<button class="delete-button">Delete</button>')).click(function () {
                                imgContainer.remove(); // Remove the image container when the delete button is clicked
                            });

                            // Append elements to the container
                            imgContainer.append(imgElement);
                            imgContainer.append(selectCheckbox);
                            imgContainer.append(deleteButton);

                            // Append container to the specified place
                            imgContainer.appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };

            $('#gallery-photo-add').on('change', function () {
                imagesPreview(this, 'div.gallery');
            });

            // Handle the delete action for selected images
            $('#delete-selected').on('click', function () {
                $('.image-container:has(input:checked)').remove();
            });
        });
    </script>
    <%- include('../layouts/adminLayout/_footer.ejs') -%>