<%- include('../layouts/adminLayout/_header.ejs') -%>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Dashboard</h2>
      <p>Whole data about your business here</p>
    </div>
    <div>
      <a href="/admin/salesReport" class="btn btn-primary"
        ><i class="text-muted material-icons md-post_add"></i>Create report</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-primary-light"
            ><i class="text-primary material-icons md-monetization_on"></i
          ></span>
          <div class="text">
            <h6 class="mb-1 card-title">Revenue</h6>
            <span>₹ <%= totalRevenue ? totalRevenue:0.00%></span>
            <span class="text-sm"> Shipping fees are not included </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-success-light"
            ><i class="text-success material-icons md-local_shipping"></i
          ></span>
          <div class="text">
            <h6 class="mb-1 card-title">Orders</h6>
            <span><%= orderDetails ? orderDetails.length : '0' %></span>
            <span class="text-sm"> Excluding orders in transit </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-warning-light"
            ><i class="text-warning material-icons md-qr_code"></i
          ></span>
          <div class="text">
            <h6 class="mb-1 card-title">Products</h6>
            <span><%= productDetails?productDetails.length : 0 %></span>
            <span class="text-sm">
              In <%= categoryDetails ? categoryDetails.length : 0 %> Categories
            </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-info-light"
            ><i class="text-info material-icons md-shopping_basket"></i
          ></span>
          <div class="text">
            <h6 class="mb-1 card-title">Total User</h6>
            <span><%= userCount?userCount: 0 %></span>
            <span class="text-sm"> Based in your local time. </span>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-12">
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Sale statistics</h5>
          <canvas id="myChart" height="120px"></canvas>
        </article>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">New Members</h5>
              <div class="new-member-list">
              <%  if(newUser && newUser.length > 0){ %>
                <% for(i=0;i< newUser.length;i++){ %>
                  <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <div class="d-flex align-items-center">
                    <img
                      src="assets/imgs/people/avatar-3.png"
                      alt=""
                      class="avatar"
                    />
                    <div>
                      <h6><%= newUser[i].name %></h6>
                      <p class="text-muted font-xs"><%= newUser[i].email %></p>
                    </div>
                  </div>

                </div>
               
                <% }} %>
               
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">Recent activities</h5>
              <ul class="verti-timeline list-unstyled font-sm">
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i
                      class="material-icons md-play_circle_outline font-xxl"
                    ></i>
                  </div>
                  <div class="media">
                    <div class="me-3">
                      <h6>
                        <span>Today</span>
                        <i
                          class="material-icons md-trending_flat text-brand ml-15 d-inline-block"
                        ></i>
                      </h6>
                    </div>
                    <div class="media-body">
                      <div>Lorem ipsum dolor sit amet consectetur</div>
                    </div>
                  </div>
                </li>
                <li class="event-list active">
                  <div class="event-timeline-dot">
                    <i
                      class="material-icons md-play_circle_outline font-xxl animation-fade-right"
                    ></i>
                  </div>
                  <div class="media">
                    <div class="me-3">
                      <h6>
                        <span>17 May</span>
                        <i
                          class="material-icons md-trending_flat text-brand ml-15 d-inline-block"
                        ></i>
                      </h6>
                    </div>
                    <div class="media-body">
                      <div>Debitis nesciunt voluptatum dicta reprehenderit</div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i
                      class="material-icons md-play_circle_outline font-xxl"
                    ></i>
                  </div>
                  <div class="media">
                    <div class="me-3">
                      <h6>
                        <span>13 May</span>
                        <i
                          class="material-icons md-trending_flat text-brand ml-15 d-inline-block"
                        ></i>
                      </h6>
                    </div>
                    <div class="media-body">
                      <div>Accusamus voluptatibus voluptas.</div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i
                      class="material-icons md-play_circle_outline font-xxl"
                    ></i>
                  </div>
                  <div class="media">
                    <div class="me-3">
                      <h6>
                        <span>05 April</span>
                        <i
                          class="material-icons md-trending_flat text-brand ml-15 d-inline-block"
                        ></i>
                      </h6>
                    </div>
                    <div class="media-body">
                      <div>At vero eos et accusamus et iusto odio dignissi</div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i
                      class="material-icons md-play_circle_outline font-xxl"
                    ></i>
                  </div>
                  <div class="media">
                    <div class="me-3">
                      <h6>
                        <span>26 Mar</span>
                        <i
                          class="material-icons md-trending_flat text-brand ml-15 d-inline-block"
                        ></i>
                      </h6>
                    </div>
                    <div class="media-body">
                      <div>Responded to need “Volunteer Activities</div>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Revenue Base on Area</h5>
          <canvas id="myChart2" height="217"></canvas>
        </article>
      </div>
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Marketing Chanel</h5>
          <span class="text-muted font-xs">Facebook</span>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 15%">
              15%
            </div>
          </div>
          <span class="text-muted font-xs">Instagram</span>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 65%">
              65%
            </div>
          </div>
          <span class="text-muted font-xs">Google</span>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 51%">
              51%
            </div>
          </div>
          <span class="text-muted font-xs">Twitter</span>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 80%">
              80%
            </div>
          </div>
          <span class="text-muted font-xs">Other</span>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 80%">
              80%
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <h4 class="card-title">Latest orders</h4>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col" class="text-center">
                  <div class="form-check align-middle">
                 
                   
                  </div>
                </th>
                <th class="align-middle" scope="col">Order ID</th>
                <th class="align-middle" scope="col">Billing Name</th>
                <th class="align-middle" scope="col">Date</th>
                <th class="align-middle" scope="col">Total</th>
                <th class="align-middle" scope="col">Payment Status</th>
                <th class="align-middle" scope="col">Payment Method</th>
                <th class="align-middle" scope="col">View Details</th>
              </tr>
            </thead>
            <tbody>
             <% if(latestOrders && latestOrders.length>0){ %>
              <% for(i=0;i< latestOrders.length; i++){ %>

             
              <tr>
                <td class="text-center">
                  <div class="form-check">
               
                  </div>
                </td>
                <td><a href="#" class="fw-bold"># <%= latestOrders[i].orderId %></a></td>
                <td><%= latestOrders[i].user_name %></td>
                <td><%= new Date(latestOrders[i].date).toLocaleDateString('en-GB') %></td>
                <td>₹ <%= latestOrders[i].total_amount %></td>
                <td>
                  <span class="badge badge-pill badge-soft-success"><%= latestOrders[i].paymentStatus %></span>
                </td>
                <td>
                  <i
                    class="material-icons md-payment font-xxl text-muted mr-5"
                  ></i>
                  <%= latestOrders[i].payment %>
                </td>
                <td>
                  <a href="#" class="btn btn-xs" onclick="redirectToOrderDetail('<%= latestOrders[i]._id %>')"> View details</a>
                </td>
              </tr>
           
              <% }} %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- table-responsive end// -->
    </div>
  </div>
</section>
<!-- content-main end// -->
<script>
  function redirectToOrderDetail(orderId) {
      window.location.href = '/admin/orderDetail?orderId=' + orderId;
  }

</script>
<%- include('../layouts/adminLayout/_footer.ejs') -%>
