<%- include('../layouts/adminLayout/_header.ejs') -%>
    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                    <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                        <p style="color:red">
                            <%= messages.head ? messages.head : '' %>
                        </p>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Update</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product Title</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="title"  id="title"
                                        value=" <%= product.title %> ">
                                        <p style="color:red" id="titleError"></p>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Slug Id</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="slug"
                                            value=" <%= product.slug %> "  readonly required>
                                        <p style="color:red">
                                            <%= messages.slug ? messages.slug : '' %>
                                        </p>
                                        <input type="hidden" value="<%= product._id %>" name="id">
                                    </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <input type="text" placeholder="Type here" class="form-control" rows="4" id="description"
                                        name="description" value="<%= product.description %> " required></input>
                                        <p style="color:red" id="descriptionError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Brand name</label>
                                    <select class="form-select" name="brand" required>
                                        <option value=" <%= product.brand %> ">
                                            <%= product.brand %>
                                        </option>
                                        <option value="gucci">Gucci</option>
                                        <option value="chanel">Chanel</option>
                                        <option value="nike">Nike</option>
                                        <option value="zara">Zara</option>
                                        <option value="adidas">Adidas</option>
                                        <option value="louis-vuitton">Louis Vuitton</option>
                                        <option value="prada">Prada</option>
                                        <option value="balenciaga">Balenciaga</option>
                                        <option value="givenchy">Givenchy</option>
                                        <option value="versace">Versace</option>
                                        <option value="ralph-lauren">Ralph Lauren</option>
                                        <option value="tommy-hilfiger">Tommy Hilfiger</option>
                                        <option value="calvin-klein">Calvin Klein</option>
                                        <option value="hm">H&M</option>
                                        <option value="forever-21">Forever 21</option>
                                    </select>
                                    <p style="color:red">
                                        <%= messages.brand ? messages.brand : '' %>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Size</label>
                                    <select class="form-select" name="size">
                                        <option value="<%= product.size %>">
                                            <%= product.size %>
                                        </option>
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select>
                                    <p style="color:red">
                                        <%= messages.size ? messages.size : '' %>
                                    </p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Gender</label>
                                    <select class="form-select" name="sex">
                                        <option value="<%= product.sex %>"> <%= product.sex %> </option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="unisex">Unisex</option>
                                    </select>
                                   
                                </div>
                        
                                <!-- <div class="mb-4">
                                    <label class="form-label">Select Color</label><label
                                        class="form-label">Color</label> <input type="text" id="result"
                                        style="width: 2em ; border-radius: 100px;" readonly>

                                        <input type="color" class="form-select" id="colorSelect" name="color"
                                        onchange="changeBackgroundColor(this)" >
                                   
                                    <p style="color:red">
                                        <%= messages.color ? messages.color : '' %>
                                    </p>
                                </div> -->

                            </div> <!-- col.// -->
                        </div> <!-- row.// -->

                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Cost in INR</label>
                                    <input type="number" placeholder="₹" class="form-control" name="price" id="productPrice"
                                        value="<%= product.price %>" pattern="\d+(\.\d{1,2})?" required>
                                    <p style="color:red">
                                        <%= messages.price ? messages.price : '' %>
                                    </p>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Category</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <div class="mb-4">
                                        <label class="form-label">Categories</label>
                                        <select class="form-select" name="category">
                                            <option value="<%= categoryData && categoryData._id %>">
                                                <%= categoryData && categoryData.title %>
                                            </option>
                                            <% if (category.length > 0) { %>
                                                <% for (let i = 0; i < category.length; i++) { %>
                                                    <option value="<%= category[i]._id %>">
                                                        <%= category[i].title %>
                                                    </option>
                                                <% } %>
                                            <% } else { %>
                                                <% } %>
                                        </select>
                                        <p style="color:red">
                                            <%= messages.category ? 'Please select a valid category.' : '' %>
                                        </p>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->

                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Quantity</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <input type="number" placeholder="Enter Quantity" class="form-control" name="quantity" id="productQty"
                                        value="<%= product.quantity %>" pattern="\d+(\.\d{1,2})?" required>
                                    <p style="color:red">
                                        <%= messages.quantity ? messages.quantity : '' %>
                                    </p>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row " style="display: flex; text-align: center; ">
                            <label class="col-1-md-3" style="display: flex;"> <%= product.is_listed==true ? 'Currently Listed:-' : 'Currently  UnListed:-' %> </label>
                           <div class="radio-group " style="position: absolute;">
                              <label>
                                <input type="radio" name="is_listed" value="true" 
                                <%= product.is_listed ? 'checked' : '' %> /> List
                              </label>
                              <label>
                                <input type="radio" name="is_listed" value="false" 
                                <%= !product.is_listed ? 'checked' : '' %> /> Unlist
                              </label>
                            </div>
                          </div>

                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>5. Media</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" name="images" id="imageUpload" multiple onchange="loadAndEditImages()">
                                    <p style="color:red">
                                        <%= messages.image ? messages.image : '' %>
                                    </p>
                                </div>
                            </div> <!-- col.// -->
                            </form>
                        </div> <!-- .row end// -->
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2" style="display: flex; text-align: end;" >
            <div class="card card-product-grid ">
                <div class="info-wrap " style="display: flex; text-align: end;">
                    <div class="input-upload">
                        <% if (product.images && product.images.length > 0) { %>
                            <% for (let i = 0; i < product.images.length; i++) { %>
                                
                                <div class="image-container">
                                  
                                    <img src="/myImages/<%= product.images[i] %>" alt="<%= product.images[i] %>">
                                    <input type="checkbox" value="<%= product.images[i] %>"  name="selectedImages" >
                                </div>
                                <br>
                                
                            <% } %>
                        <% } %>
                        <button type="button" class="btn btn-info" onclick="deleteSelectedImages()">Delete Selected Images</button>
                    </div>

                </div>
                <ul id="loadedImages">
                    
                    <li style="display: flex;" id="imageUpload" >
                        <label>Images to Upload</label>
                        <img src="" alt="">
                    </li>
                    </ul>

            </div>
            <!-- card-product  end// -->
        </div>
        

        </div>
       
        
    </section> <!-- content-main end// -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
//Image view

// Function to handle image loading and editing
function loadAndEditImages() {
    const imageUploadInput = document.getElementById('imageUpload');
    const loadedImagesList = document.getElementById('loadedImages');

    // Display loaded images dynamically
    for (const file of imageUploadInput.files) {
        const listItem = document.createElement('li');
        listItem.style.padding = '5px'
        loadedImagesList.appendChild(listItem);

        // Display the image
        const image = document.createElement('img') ;
        image.src = URL.createObjectURL(file);
        image.alt = file.name;
        listItem.appendChild(image);
    }
}

// Delete Images

        function deleteSelectedImages() {
            const selectedCheckboxes = document.querySelectorAll('input[name="selectedImages"]:checked');
            const selectedImageValues = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);
          
            if (selectedImageValues.length > 0) {
                if (confirm('Are you sure you want to delete the selected images?')) {
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/admin/deleteImages', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // Refresh the page or update UI with a success message
                            location.reload();
                        } else {
                            // Display an informative error message to the user
                            alert('Failed to delete images. Please try again.');
                        }
                    };
                    xhr.onerror = function () {
                        // Handle network errors
                        console.error('Network error during image deletion');
                    };
                    xhr.send(JSON.stringify({ selectedImages: selectedImageValues }));
                }
            } else {
                alert('Please select images to delete.');
            }
        }


        function changeBackgroundColor(selectElement) {
            // Get the selected color value
            const selectedColor = selectElement.value;

            // Change the background color dynamically
            document.getElementById('result').style.backgroundColor = selectedColor;

            // Update the content dynamically based on the selected color
            // document.getElementById('result') = ` style="fontColor: ${selectedColor}"`;
        }
    </script>



<!-- Validation -->
    <script>
       function validateField(fieldName, errorId, regex) {
            var fieldValue = $('#' + fieldName).val();
            var errorSpan = $('#' + errorId);

            if (fieldValue && fieldValue.startsWith(' ')) {
                errorSpan.text('Title should not start with a space.');
                return;
            }

            if (!regex.test(fieldValue)) {
                errorSpan.text('Title  must meet the validation criteria..');
            } else {
                errorSpan.text('');
            }
        }

        $('#title').on('input', function () {
            validateField('title', 'titleError', /^[a-zA-Z][a-zA-Z\s]{2,28}[a-zA-Z]$/);
        });

        function validateDescription(fieldName, errorId) {
            var fieldValue = $('#' + fieldName).val();
            var errorSpan = $('#' + errorId);

            if (fieldValue && fieldValue.startsWith(' ')) {
                errorSpan.text(fieldName + ' should not start with a space.');
                return;
            }

            var wordCount = fieldValue.trim().split(/\s+/).filter(function (word) {
                return word.length > 0;
            }).length;

            if (wordCount >= 5) {
                errorSpan.text('');
            } else {
                errorSpan.text(fieldName + ' should have more than 5 words.');
            }
        }

        $('#description').on('input', function () {
            validateField('description', 'descriptionError', /^[\s\S]{10,}$/);
        });


        productPrice.addEventListener('input', () => {
            console.log('enter num')
            let value = productPrice.value;
            value = value.replace(/^0+/, '');

            if (value.includes("-")) {
                value = value.replace('-', '');
            }
            productPrice.value = value;

        })

        productQty.addEventListener('input', () => {
            console.log('enter num')
            let value = productQty.value;
            value = value.replace(/^0+/, '');

            if (value.includes("-")) {
                value = value.replace('-', ''); 3
            }
            productQty.value = value;

        })



    </script>



    <%- include('../layouts/adminLayout/_footer.ejs') -%>