<%- include('../layouts/adminLayout/_header.ejs') -%>
<style>
    .clickable-row:hover {
        cursor: pointer;
    }
</style>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
            <p>Here is the List of all Orders.</p>
        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">

                    <tbody>
                        <% if (orderList && orderList.length > 0) { %>
                            <% orderList.forEach(order=> { %>
                                <% let alertClass = ''; %>

                                <% 
                                if (order.status === 'Cancled' || order.status === 'Returned' || order.status === 'Return Requested') {
                                    alertClass = 'alert-danger';
                                } else if (order.status === 'Delivered') {
                                    alertClass = 'alert-success';
                                } else {
                                    alertClass = 'alert-warning';
                                }
                                %>
                                <tr class="clickable-row"
                                    onclick="redirectToOrderDetail('<%= order._id %>')">
                                    <td>
                                        <td><b><span style="font-weight: bold;"> Order Id:</span><br>
                                            #<%= order.orderId %>
                                        </b>

                                    </td>
                                    <td><b><span style="font-weight: bold;"> Product Name</span><br>
                                            <%= order.items[0].product_id.title %><br>
                                           <% if(order.items.length > 1){ %> and ( <%= order.items.length-1 %> ) other <%}%>
                                        </b><br>

                                    </td>
                                    <td><span style="font-weight: bold;">Ordered By </span><br>
                                        <%= order.user_name %><br>
                                        <%=  order.delivery_address.city %>
                                    </td>
                                    <td><span style="font-weight: bold;">Price</span><br>₹ <%= order.total_amount %>
                                    </td>
                                    <td><span style="font-weight: bold;">Status</span><br><span class="badge rounded-pill <%= alertClass %>">
                                            <%= order.status %>
                                        </span></td>
                                    <td><span style="font-weight: bold;">Order Placed </span><br>
                                        <%= formatDate(order.date) %>
                                    </td>
                                    <td>
                                        <% if(order.status === 'Return Requested'){ %>
                                            <span style="font-weight: bold; color: red;">Return Request </span>
                                        <%}%>
                                    </td>

                                </tr>

                                <% }); %>
                                  
                                        <% } %>

                                            <% function formatDate(dateString) { const date=new Date(dateString);
                                                const options={ day: '2-digit' , month: 'short' , year: 'numeric' };
                                                return date.toLocaleDateString('en-GB', options).replace(',', '' );
                                                } %>

                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<script>
    function redirectToOrderDetail(orderId) {
        window.location.href = '/admin/orderDetail?orderId=' + orderId;
    }

</script>
<%- include('../layouts/adminLayout//_footer.ejs') -%>