<%- include('../layouts/adminLayout/_header.ejs') -%>
<style>
.col-lg-2 {
  width: 13.66667%;
}
.highlight {
  font-size: larger;
  font-weight: bolder;
  
}
</style>
<section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Products List</h2>
        <p>Here is the list of products</p>
      </div>
      <p style="color:red">
        <%= messages.head ? messages.head : '' %>
    </p>
      <div>
      
        <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Create new</a>
    </div>
    </div>
   
    <div class="card mb-4">
      <div class="card-body">
        <% if (products.length > 0) { for (let i = 0; i <  products.length; i++) { %>
        <article class="itemlist">
          <div class="row align-items-center">
            <div class="col col-check flex-grow-0">
              
                <span><%= i+1 %>.</span>
            </div>
            <div class="col-lg-3 col-sm-6 col-8 flex-grow-1 col-name">
              <a class="itemside" href="#">
                <div class="left">
                  <img
                    src="/productImages/<%= products[i].images[0] %>"
                    class="img-sm img"
                    alt="Item"
                  />
                </div>
                <div class="info">
                  <h6>Product Title </h6>
                  <h4 cla ss="mb-0"><%= products[i].title %></h4>
                  <h5 style="color: red;"><%= products[i].offer && products[i].offer.percentage ?products[i].offer.percentage +'% Product Offer' :'' %></h5>
                  <p><%= products[i].category?.offer ?products[i].category.offer : '' %></p>
                </div>
              </a>
              
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-quantity">
                <h6>Quantity</h6>
                <span><%= products[i].quantity %></span>
              </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price">
              <h6>Price</h6>
              <span> ₹ <%= products[i].price %></span>
            </div>
           
            <div class="col-lg-2 col-sm-2 col-4 col-status">
              <h6>Status</h6>
              <span
                class="badge rounded-pill <%= products[i].is_listed==true? 'alert-success' : 'alert-danger' %>">
                <%= products[i].is_listed==true ? 'Listed' : 'Unlisted' %>
              </span>
            </div>
            <div class="col-sm-2" style="display: flex;">
              <a class="btn btn-sm font-sm rounded btn-brand" style="margin: 3px;" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="loadOffers('<%= products[i]._id %>')">
                Apply Offer
              </a>
              <% if(products[i].offer){ %>
              <a class=" btn-sm font-sm btn-danger" style="margin: 3px;" onclick="removeOffer('<%= products[i]._id %>')">
                Remove Offer
              </a>
              <%}%>
            </div>
 
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
              <h6>Make Changes</h6>
              <a
                class="btn btn-sm font-sm rounded btn-brand" onclick="confirmEdit('<%= products[i]._id %>')" style="margin: 3px;" >
                <i class="material-icons md-edit"></i> Edit
              </a>
              <a
              class="btn btn-sm font-sm rounded btn-brand" onclick="confirmDelete('<%= products[i]._id %>')">
              <i class="material-icons md-edit"></i> delete
            </a>
            </div>
          </div>
        </article>
        <% } } else { %>
        <td colspan="5">Products Not Found</td>
        <% } %>
      </div>
      <!-- card-body end// -->
    </div>
    <!-- card end// -->

    <div class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active">
            <a class="page-link" href="#">01</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item"><a class="page-link dot" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">16</a></li>
          <li class="page-item">
            <a class="page-link" href="#"
              ><i class="material-icons md-chevron_right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: black;">Available Offers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display: ruby;">
      
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



    <!-- <button class="delete-product-btn" data-product-id="yourProductId">Delete Product</button> -->

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
function confirmDelete(productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to delete this product. Are you sure you want to proceed?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/admin/deleteProduct/" + productId;
        }
    });
}
        function confirmEdit(productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to edit this product. Are you sure you want to proceed?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, edit it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/admin/updateProduct/" + productId;
        }
    });
}
    </script>
    <script>
function loadOffers(productId) {
  fetch('/offer/getAllOffers')
    .then(response => {
      if (!response.ok) {
        throw new Error('Failed to fetch offers');
      }
      return response.json();
    })
    .then(data => {
      if (data.offerData && Array.isArray(data.offerData)) {
        displayOfferDataInModal(data.offerData,productId);
      } else {
        throw new Error('Invalid offer data format');
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
      // Display error message if necessary
      Swal.fire({
        title: 'Error',
        text: 'Failed to fetch offers',
        icon: 'error'
      });
    });
}
function displayOfferDataInModal(offerData,productId) {
  // Access modal elements
  const modalBody = document.querySelector('.modal-body');

  // Clear existing content
  modalBody.innerHTML = '';

  // Loop through offerData and create HTML elements for each offer
  offerData.forEach(offer => {
    // Create a new row for each offer
    const row = document.createElement('div');
    row.classList.add('row', 'd-flex', 'justify-content-center', 'align-items-center','width:45%'); 
     row.style.width = '45%';

    // Create a column for the offer details
    const col = document.createElement('div');
    col.classList.add('col');
    col.style.margin = '5px';
    col.innerHTML = `
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">${offer.offerName}</h4>
          <p class="card-text">Percentage: <span class="highlight" style="color:red"> ${offer.percentage} % </span></p>
          <p class="card-text">Description: ${offer.description}</p>
          <p class="card-text">Starting Date: <span class="highlight"> ${formatDate(offer.startingDate)}  </span></p>
          <p class="card-text">Expiry Date: <span class="highlight"> ${formatDate(offer.expiryDate)}  </span></p>
          <div class="text-center">
            <button class="btn btn-primary" onclick="applyOffer('${offer._id}','${productId}')">Apply</button>
            </div>
        </div>
      </div>
    `;

    // Append the column to the row
    row.appendChild(col);

    // Append the row to the modal body
    modalBody.appendChild(row);
  });
}
function formatDate(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    let month = (1 + date.getMonth()).toString().padStart(2, '0');
    let day = date.getDate().toString().padStart(2, '0');
    return day + '-' + month + '-' + year;
}
function applyOffer(offerId,productId) {
    Swal.fire({
        title: 'Confirm',
        text: 'Are you sure you want to apply this offer?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, apply it!'
    }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url:'/offer/applyToProduct',
            method:'PUT',
            data:{
              offerId:offerId,
              productId:productId
            },
            success: function(response){
              Swal.fire({
                title:'Success',
                text:'Offer applied Successfully',
                icon:'success'
              })
              .then(()=>{
                location.reload();
              })
            },
            error:function(xhr,status,error){
              Swal.fire({
                title:'Error',
                text:'Failed to apply Offer',
                icon:error
              })
            }
          })
        }
    });
}
    </script>
    <script>
      function removeOffer(productId){
        Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to remove the offer. This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
        url: '/offer/removeProductOffer',
        type: 'PUT',
        data: { productId: productId },
        success: function(response) {
          Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: 'Offer has been successfully removed.',
            })
            .then(()=>{
              location.reload();
            })
        },
        error: function(xhr, status, error) {
            console.error('Error removing offer:', error);
        }
    });
        }
    });
      }
    </script>

    <!-- content-main end// -->
    <%- include('../layouts/adminLayout/_footer.ejs') -%>