<%- include('./layouts/userLayout/userAccountHeader.ejs') %>
    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Add New Address</h2>
                    <form action="/user/editAddress/<%= address._id %>" method="post">
                        <p style="color:red">
                            <%= messages.head ? messages.head : '' %>
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="name"
                                        value="<%= address.name %>" id="name" required>
                                    <p style="color:red" id="nameError"></p>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Phone</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="mobile"
                                        value="<%= address.mobile %>" id="name" required>
                                    <p style="color:red" id="nameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">House Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="houseName"
                                        value="<%= address.houseName %>" id="houseName" required>
                                    <p style="color:red" id="houseNameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Street Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="street"
                                        value="<%= address.street%>" id="street" required>
                                    <p style="color:red" id="streetError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Landmark</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="landmark"
                                        value="<%= address.landmark %>" id="landmark" required>
                                    <p style="color:red" id="landmarkError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">City</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="city"
                                        value="<%= address.city %>" id="city" required>
                                    <p style="color:red" id="cityError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">State</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="state"
                                        value="<%= address.state %>" id="state" required>
                                    <p style="color:red" id="cityError"></p>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Pincode</label>
                                            <input type="text" placeholder="pincode" class="form-control" name="pincode"
                                                value="<%= address.pincode %>" id="productPrice" required>
                                            <p style="color:red">
                                                <%= messages.pincode ? messages.pincode : '' %>
                                            </p>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up">Submit</button>
                                </div>
                                </form>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2" style="display: flex; text-align: end;">
            <div class="card card-product-grid ">
                <!-- card-product  end// -->
            </div>
    </section> <!-- content-main end// -->


    <%- include('./layouts/userLayout/userAccountFooter.ejs') %>