
<%- include('./layouts/userLayout/header.ejs') %>
<title>Products</title>
		<div style="height: 8%;"></div>
<!-- Product -->
<section class="bg0 p-t-23 p-b-130">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Product Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
					All Products
				</button>
			</div>
			<div class="row">
				<div class="col-md-4 mb-3">
					Search :
					<input class="form-control mr-sm-2" type="search" id="productSearch" placeholder="Search" aria-label="Search">
				</div>
				<div class="col-md-2 mb-3">
					Sort :
					<select class="custom-select" id="sortBy">
						<option value="createdAt">Default</option>
						<option value="popularity">Popularity</option>
						<option value="lowToHigh">Low to High</option>
						<option value="highToLow">High to Low</option>
					</select>
				</div>
				<div class="col-md-2 mb-3">
					Price from :
					<input type="number" class="form-control" placeholder="Enter Price" id="startingPrice">
				</div>
				<div class="col-md-2 mb-3">
					to :
					<input type="number" class="form-control" placeholder="Enter Price" id="endPrice">
				</div>
				<div class="col-md-2"><br>
					<button type="button" class="btn btn-secondary" id="submitButton">Submit</button>
				</div>
			</div>	

		</div>
		<div class="row isotope" id="productLoad">
			<% if(products && products.length > 0) { %>
			  <% for(let i = 0; i < products.length; i++) { %>
				<a href="/products/detail/<%= products[i]._id %>">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
				  <!-- Block2 -->
				  <div class="block2">
					<div class="block2-pic hov-img0 label-new" data-label="New">
					  <img src="/productImages/<%= products[i].images[0] %>" alt="IMG-PRODUCT">
					  <a href="/products/detail/<%= products[i]._id %>"
						class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
						Quick View
					  </a>
					</div>
					<div class="block2-txt flex-w flex-t p-t-14">
					  <div class="block2-txt-child1 flex-col-l ">
						<a href="/products/detail/<%= products[i]._id %>"
						  class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
						  <%= products[i].title %>
						</a>
						<span class="stext-105 cl3">
						  <%= products[i].price %>
						</span>
					  </div>
					
					</div>
				  </div>
				</div>
			</a>
			  <% } %>
			<% } %>
				  <!-- Pagination -->
				  <div class="flex-c-m flex-w w-full p-t-38">
					<% for (let i = 1; i <= totalPages; i++) { %>
					  <a href="/products?page=<%= i %>" id="renderPagination" class="flex-c-m how-pagination1 trans-04 m-all-7<%= currentPage === i ? ' active-pagination1' : '' %>">
						<%= i %>
					  </a>
					<% } %>
				  </div>
	</div>

<!-- Pagination -->
<div class="flex-c-m flex-w w-full p-t-38" id="paginationLinks">
    <!-- Pagination links will be generated dynamically here -->
</div>
	
</section>



	<!-- <script>
	$(document).ready(function() {
    $('.js-addwish-b2').click(function(e) {
        e.preventDefault();
        const productId = $(this).data('product-id');
        const isWishlisted = $(this).hasClass('added');
             $.ajax({
                type: 'PUT',
                url: '/wishList/update',
                contentType: 'application/json',
                data: JSON.stringify({ productId: productId }),
                success: function(response) {
					location.reload()
            //   $(`#wishlist${productId}`).load(location.href + `#wishlist${productId}`)
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error(xhr.responseText);
                }
            });
        
        $(this).toggleClass('added');
    });
});
	</script> -->
<script>
	$(document).ready(function(){
		$('#submitButton').click(function(){
			const startingPrice = $('#startingPrice').val();
			const endPrice = $('#endPrice').val();
			const sortBy = $('#sortBy').val();
			const productSearch = $('#productSearch').val();
			loadProductsForPage(1, startingPrice, endPrice, sortBy, productSearch);
		});
	
		// Function to load products for a specific page
		function loadProductsForPage(pageNumber, startingPrice, endPrice, sortBy, productSearch) {
			$.ajax({
				url: '/products',
				method: 'GET',
				data: {
					productSearch: productSearch,
					sortBy: sortBy,
					startingPrice: startingPrice,
					endPrice: endPrice,
					page: pageNumber
				},
				success: function(response){
					if(response.success){
						const products = response.products;
						const wishlistedProducts = response.wishlistedProducts;
						let productHtml = '';
						if(products && products.length > 0) {
							products.forEach(product => {
								productHtml += `
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
										<!-- Block2 -->
										<div class="block2">
											<div class="block2-pic hov-img0 label-new" data-label="New">
												<img src="/productImages/${product.images[0]}" alt="IMG-PRODUCT">
												<a href="/products/detail/${product._id}"
													class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
													Quick View
												</a>
											</div>
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l">
													<a href="/products/detail/${product._id}"
														class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
														${product.title}
													</a>
													<span class="stext-105 cl3">
														${product.price}
													</span>
												</div>
												<div class="block2-txt-child2 flex-r p-t-3">
													<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" data-product-id="${product._id}">
														${wishlistedProducts && wishlistedProducts.products.some(p => p.product.toString() === product._id.toString()) ?
															'<img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-02.png" alt="ICON">' :
															'<img class="icon-heart-01 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-01.png" alt="ICON">'
														}
													</a>
												</div>
											</div>
										</div>
									</div>
								`;
							});
						}else{
							productHtml = `
							<div class="col-12 text-center">
								<p>No products available.</p>
							</div>
						`;
						}
						$('#productLoad').html(productHtml);
						$('#paginationLinks').html(generatePaginationLinks(response.totalPages, response.currentPage));
					} else {
						console.log('Error: ', response.error);
					}
				},
				error: function(xhr, status, error){
					console.log('Error: ', error);
				}
			});
		}
	
		// Function to generate pagination links
		function generatePaginationLinks(totalPages, currentPage) {
			let paginationHtml = '';
			for (let i = 1; i <= totalPages; i++) {
				paginationHtml += `
					<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7${currentPage === i ? ' active-pagination1' : ''}" data-page="${i}">
						${i}
					</a>
				`;
			}
			return paginationHtml;
		}
	
		// Click event handler for pagination links
		$(document).on('click', '.how-pagination1', function(e) {
			e.preventDefault();
			const pageNumber = $(this).data('page');
			const startingPrice = $('#startingPrice').val();
			const endPrice = $('#endPrice').val();
			const sortBy = $('#sortBy').val();
			const productSearch = $('#productSearch').val();
			loadProductsForPage(pageNumber, startingPrice, endPrice, sortBy, productSearch);
		});
	});
	</script>
	<%- include('./indlude/_footer.ejs') %>