<%- include('./layouts/userLayout/header.ejs') %>
<title>Producr Details</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
	<style>
	       .offer-container {
            display: flex;
            justify-content: space-between; /* Adjust as needed */
        }
    
        .offer-box {
            border: 2px solid #4CAF50;
            border-radius: 8px;
            padding: 20px;
            width: 300px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
    
        }
    
        .offer-box:hover {
            transform: scale(1.05);
        }
    
        .offer-box h5 {
            color: #333;
            font-size: 18px;
            margin-bottom: 10px;
            text-decoration: underline;
            text-decoration-style: double; /* You can use other values like solid, dashed, dotted, etc. */
    text-decoration-color: #4CAF50; 
        }
    
        .offer-box p {
            color: #666;
            font-size: 14px;
            margin-bottom: 8px;
        }
    
        .percentage {
            font-weight: bold;
            font-size: 28px;
            color: #E44D26; /* Adjust color as needed */
        }
		.cross {
			position: relative;
			display: inline-block;
		}

		.cross::after {
			content: '';
			width: 100%;
			position: absolute;
			right: 0;
			top: 40%;
			border-bottom: 2px solid red;
			/* Specify the thickness and color of the line */
		}

		td {
			padding: 5px;

		}

		table {
			margin-top: 2em;
		}
	</style>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/products" class="stext-109 cl8 hov-cl1 trans-04">
				<%= product.sex %>
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				<%= product.title %>
			</span>
		</div>
	</div>
	<div class="sweet-message">
		<p style="color:red">
			<%= messages.head ? messages.head : '' %>
		</p>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<% for(let i=0;i < product.images.length;i++) { %>
									<div class="item-slick3" data-thumb="/productImages/<%= product.images[i] %>">
										<div class="wrap-pic-w pos-relative ">
											<img src="/productImages/<%= product.images[i] %>" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
												href="/productImages/<%= product.images[i] %>">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
									<% } %>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.title %>	
							<% if(product.quantity === 0){ %>
								<span style="color: red;"> ( out of stock )</span>
								<%}%>
						</h4>
					
						<span class="mtext-106 cl2">
							<% if(product.offer || product.category.offer){ %>

								<span class="mtext-110 cl2 discount-section cross" style="color: red; ">
									₹ <%= product.price %> </span> &nbsp; ₹<%= product.offer? product.price - (product.offer.percentage * product.price)/100 : product.price - (product.category.offer.percentage * product.price)/100  %>
							</span>
							<% }else{ %>
								<span>
									₹ <%= product.price %> </span> 
							</span>
							<% } %>

						<table class="stext-102 cl3 p-t-23">
							<tr>
								<td><strong>Brand:</strong></td>
								<td>
									<%= product.brand %>
								</td>
							</tr>
							<tr>
								<td><strong>Fabric type:</strong></td>
								<td>Dacron</td>
							</tr>
							<tr>
								<td><strong>Care instructions:</strong></td>
								<td>Machine Wash</td>
							</tr>
							<tr>
								<td><strong>Origin:</strong></td>
								<td>Imported</td>
							</tr>
						</table>
						<hr>
						<h4>
							<i class="fas fa-gift" style="color: red;"></i> Offers
							<div class="offer-container">
								<% if (product.offer || product.category.offer) { %>
										<div class="offer-box">
											<h5><%= product.offer ? product.offer.offerName : product.category.offer.offerName %></h5>
											<p>
												<strong>Cash Save:</strong>
												<span class="percentage"><%= product.offer ? product.offer.percentage : product.category.offer.percentage %> % </span>
											</p>
											<p><strong>Description:</strong> <%= product.offer ? product.offer.description : product.category.offer.description %></p>
										</div>
								<% } else { %>
									<p>No Offers Available</p>
								<% } %>
							</div>
						</h4>
						<hr>
						<div id="checkWishlist">
							<% if(isWishlisted === null ){ %> 
								<button type="button" class="btn btn-outline-success" id="wishlist">Add to Wishlist</button>

							<% }else{ %>
								<button type="button" class="btn btn-outline-danger" id="wishlist">Remove from wishlist</button>

							<% } %>
						</div>

						<p class="stext-102 cl3 p-t-23" style="line-height: 2em;">
							<strong>Product Description:</strong><br>
							<%= product.description %>
						</p>

						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Size
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">

											<option value="<%= product.size %>">
												<%= product.size %>
											</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<!-- <div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Color
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option value="<%= product.color %>">
												<%= product.color %>
											</option>

										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div> -->

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									Quantity &nbsp;

									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
											id="minusButton">
											<i class="fs-16 zmdi zmdi-minus" id="minusButton"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number"
											name="num-product" value="1" readonly>

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" id="plusButton">
											<i class="fs-16 zmdi zmdi-plus" id="plusButton"></i>
										</div>
									</div>

									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
										Add to cart
									</button>
								</div>
							</div>
						</div>


						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#"
									class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
									data-tooltip="Add to Wishlist">
									<!-- <i class="zmdi zmdi-favorite"></i> -->
								</a>
							</div>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Facebook">
								<!-- <i class="fa fa-facebook"></i> -->
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Twitter">
								<!-- <i class="fa fa-twitter"></i> -->
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Google Plus">
								<!-- <i class="fa fa-google-plus"></i> -->
							</a>
						</div>
					</div>
				</div>
			</div>
</div>
	</section>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const slickGallery = document.querySelector('.slick3');
			const productImages = slickGallery.querySelectorAll('.wrap-pic-w img');
			let isZoomed = false;

			productImages.forEach((img) => {
				img.addEventListener('mouseover', function () {
					// Apply zoom effect on mouseover
					if (!isZoomed) {
						img.style.transform = 'scale(2.3)';
						img.style.transition = 'transform 0.3s ease'; // Optional: Add a transition for a smooth effect
						isZoomed = true;
					}
				});

				img.addEventListener('mousemove', function (e) {
					if (isZoomed) {
						const boundingBox = img.getBoundingClientRect();
						const offsetX = (e.clientX - boundingBox.left) / boundingBox.width;
						const offsetY = (e.clientY - boundingBox.top) / boundingBox.height;

						// Move the image according to mouse movement
						img.style.transformOrigin = `${offsetX * 100}% ${offsetY * 100}%`;
					}
				});

				img.addEventListener('mouseleave', function () {
					// Reset to normal size on mouseleave
					img.style.transform = 'scale(1)';
					isZoomed = false;
				});
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.js-addcart-detail').on('click', function () {
				const productId = '<%= product._id %>';
				const quantity = $('.num-product').val();
				$.ajax({
					type: 'POST',
					url: '/cart/add',
					data: {
						productId: productId,
						quantity: quantity
					},
					success: function (response) {
						if (response.success) {
							swal({
								title: "Success",
								text: "Product already exist, increased the Quantity",
								icon: "success"
							}).then((data) => {
								// Reload the page after the user clicks "OK"
								$('.header-cart-content').load(location.href + ' .header-cart-content');
							});
						} else {
							swal({
								title: "Success",
								text: "Product added to the cart",
								icon: "success"
							}).then((data) => {
								// Reload the page after the user clicks "OK"
								$('.header-cart-content').load(location.href + ' .header-cart-content');
							});
						}

					},
					error: function (xhr, status, error) {
						let errorMessage = "An error occurred";

						// If the response has a JSON format with an 'error' property
						if (xhr.responseJSON && xhr.responseJSON.error) {
							errorMessage = xhr.responseJSON.error;
						}

						swal("Error", errorMessage, "error");
					}
				});
			});
		});
	</script>

	<script>
		$(document).ready(function () {
			$('#minusButton,#plusButton').click(function () {
				const productId = '<%= product._id %>';
				const quantity = parseInt($('.num-product').val(), 10);
				$.ajax({
					url: '/cart/checkQuantity',
					method: 'PATCH',
					data: {
						quantity: quantity,
						productId: productId,
					},
					success: function (response) {
					},
					error: function (xhr, status, error) {
						if (xhr.status === 400) {
							const currentValue = parseInt($('.num-product').val(), 10);
							swal("Error", "Quantity Exceeded", "error");
							$('.num-product').val(currentValue - 1);

						} else {
							// For other errors, log to console
							console.error('Error checking quantity:', error);
						}
					}
				});
			});
		});
	</script>
	<script>
	$(document).ready(function() {
    $('#wishlist').click(function(e) {
        e.preventDefault();
        const productId = '<%= product._id %>';
             $.ajax({
                type: 'PUT',
                url: '/wishList/update',
                contentType: 'application/json',
                data: JSON.stringify({ productId: productId }),
                success: function(response) {
					location.reload()
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error(xhr.responseText);
                }
            });
        
        $(this).toggleClass('added');
    });
});
	</script>

<%- include('./indlude/_footer.ejs') %>