<%- include('./layouts/userLayout/userAccountHeader.ejs') %>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Profile setting</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row gx-5">

                    <div class="col-lg-9">
                        <section class="content-body p-xl-4">
                            <form action="/user/updateUser" method="post">
                                <div class="row">
                                    <aside class="col-lg-4">
                                        <figure class="text-lg-center">
                                            <img class="img-lg mb-3 img-avatar" src="/assets/imgs/people/avatar-1.png" alt="User Photo" />
                                            <figcaption>
                                                <a class="btn btn-light rounded font-md" href="#"> <i
                                                        class="icons material-icons md-backup font-md"></i> Upload
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </aside>
                                    <div class="col-lg-8">
                                        <div class="row gx-3">
                                            <div class="col-6 mb-3">

                                                <label class="form-label">Full Name</label>
                                                <input class="form-control" type="text" value="<%= user.name %>" name="name" />
                                            </div>

                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">Email</label>
                                                <input class="form-control" type="email" value="<%= user.email %>" name="email" readonly />
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">Phone</label>
                                                <input class="form-control" type="text" value="<%= user.mobile %>" name="mobile" />
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">Birthday</label>
                                                <input class="form-control" type="date" value="<%= user.dob %>" name="dob"/>
                                            </div>

                                            <div class="row" style="max-width: 920px">
                                                <div class="col-md">
                                                    <article class="box mb-3 bg-light">
                                                        <a class="btn float-end btn-light btn-sm rounded font-md"
                                                            href="#">Change</a>
                                                        <h6>Address</Address>
                                                        </h6>
                                                        <small class="text-muted d-block" style="width: 70%">You can
                                                            reset or change
                                                            your password by clicking here</small>
                                                    </article>
                                                </div>
                                            </div>

                                            <!-- col .// -->
                                        </div>
                                        <br />

                                        <button class="btn btn-primary" type="submit">Edit Profile</button>
        
                                        <!-- row.// -->
                                    </div>  <!-- col.// -->
                                    
                                </div>
                                <!-- row.// -->
                             
                            </form>
                            <hr class="my-5" />
                            <div class="row" style="max-width: 920px">
                                <div class="col-md">
                                    <article class="box mb-3 bg-light">
                                        <a class="btn float-end btn-light btn-sm rounded font-md" href="#">Change</a>
                                        <h6>Password</h6>
                                        <small class="text-muted d-block" style="width: 70%">You can reset or change
                                            your password by clicking here</small>
                                    </article>
                                </div>
                                <!-- col.// -->
                                <div class="col-md">
                                    <article class="box mb-3 bg-light">
                                        <a class="btn float-end btn-light rounded btn-sm font-md"
                                            href="#">Deactivate</a>
                                        <h6>Remove account</h6>
                                        <small class="text-muted d-block" style="width: 70%">Once you delete your
                                            account, there is no going back.</small>
                                    </article>
                                </div>
                                <!-- col.// -->
                            </div>
                            <!-- row.// -->

                        </section>
                        <!-- content-body .// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card body end// -->
        </div>
        <!-- card end// -->
    </section>
    <!-- content-main end// -->
    <%- include('./layouts/userLayout/userAccountFooter.ejs') %>