<%- include('./layouts/userLayout/userAccountHeader.ejs') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">My Addresses</h2>
                <p>Make edit or delete address.</p>
            </div>
            <div>

                <a href="/user/createAddress" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card card-product-grid">
                    <div style="text-align: center;">
                        <i class="fa-solid fa-plus-large">Add Address</i>
                    </div>
                </div>
            </div>
        
            <% if(userData && userData.length > 0) { %>
                <% for(let i = 0; i < userData.length; i++) { %>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card card-product-grid">
                            <div style="text-align: center;">
                                <h4 class="float-center"><%= userData[i].name %></h4>
                                <p class="mb-1"><%= userData[i].mobile %></p>
                            </div>
                            <div class="info-wrap">
                                <div class="address-details">
                                    <p><strong>House Name:</strong> <%= userData[i].houseName %></p>
                                    <p><strong>Street:</strong> <%= userData[i].street %></p>
                                    <p><strong>Landmark:</strong> <%= userData[i].landmark %></p>
                                    <p><strong>Pincode:</strong> <%= userData[i].pincode %></p>
                                    <p><strong>City:</strong> <%= userData[i].city %></p>
                                </div>
                                <div class="actions">
                                    <div class="float-end">
                                        <a href="#" class="btn btn-sm btn-brand rounded">
                                            <i class="material-icons md-edit mr-5"></i>Edit
                                        </a>
                                        <a href="#" class="btn btn-sm btn-danger rounded">
                                            <i class="material-icons md-delete mr-5"></i>Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card-product end// -->
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <!-- card end// -->
    </section>
    <!-- content-main end// -->



    <%- include('./layouts/userLayout/userAccountFooter.ejs') %>